@page "/"
@using Microsoft.Extensions.Logging

@inject ILogger<Index> Logger

<img src="https://user-images.githubusercontent.com/4441470/224455560-91ed3ee7-f510-4041-a8d2-3fc093025112.png" />
<h1>Soenneker.Quark.Sliders demo</h1>
<p>Minimal usage examples.</p>
<br />

<hr />

<div class="container py-3">
    <div class="mb-3">
        <label class="form-label">Default</label>
        <Slider Min="0" Max="100" Step="1" @bind-Value="value1" />
        <div class="text-muted mt-1">Value: @value1</div>
    </div>

    <div class="mb-3">
        <label class="form-label">Disabled</label>
        <Slider Min="0" Max="100" Step="5" Value="50" Disabled="true" />
    </div>
</div>

@code{

    protected override void OnInitialized()
    {
    }

    private double value1 { get; set; } = 25;
}
